/* styles.css */
*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #132C33, rgb(37, 37, 68));
    margin: 0;
    padding: 0;

    
}
#songTitle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #126E82;

}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 8px;
    text-align: center; 
    overflow: auto; /* Add this property to enable scrollbars */
    max-height: 600px; /* Add a fixed height for the container */
}


form {
    margin-bottom: 20px;
}
.topContainer{
    background-color: #9cadb3;
    border-radius: 8px;
    padding-top: 20px;
}
.topContainer:hover {
    box-shadow: 0 0 10px 2px #51C4D3;
    transition: transform 0.3s; 
 
}
#title{
    color: #161A30;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold; 
   
}
#apiForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;

}
input:focus {
    outline: none;
}

button {
    background-color: #9cadb3;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #126E82;
    transition: transform 0.6s;
    box-shadow: 0 0 10px  #126E82;
}

#apiData {
    margin-top: 20px;
}

#clearData {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #F5B17B;
    color: #fff;
    border: none;
    cursor: pointer;
}

#clearData:hover {
    background-color: #F5B17B;
}

#apiData img {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin: 0 auto; 
}

#searchType{
    padding: 3px;
    background-color: #126E82;
    color: white;
    margin-bottom: 20px;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    border: 1px outset#126E82;
    margin-right: 10px;
    margin-bottom: 10px;
}
#searchType:hover {
    background-color: #0a3f4b;
    transition: transform 0.3s; 
    border: 1px outset#126E82;
}
#searchType:active {
    background-color: #0a3f4b;
    transition: transform 0.3s; 
    border: 1px outset #126E82;
}

#song {
    transition: transform 0.3s;
    
}

#song:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 20px #51C4D3;
    background-color: #51C4D3;
    border-radius: 50px;
}

#subtitle{
    color: #126E82;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}